@import 'variables';

.about-us {
  margin: 30px 0;
  display: flex;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    margin: 10px 0;
  }

  &__about-left-col {
    flex: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $breakpoint-tablet) {
      margin: 0 auto;
      width: 85%;
    }
  }

  &__capabilities {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin: 25px 0;

    @media (max-width: $breakpoint-tablet) {
      font-size: 28px;
    }
  }

  &__capabilities-list {
    padding-left: 65px;
  }

  &__capabilities-list-item {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;

    @media (max-width: $breakpoint-tablet) {
      font-size: 28px;
    }
  }

  &__about-right-col {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__about-right-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    padding: 20px 0 20px 60px;
    border-left: 7px solid #ccc;
    width: 85%;

    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 75px;
      position: absolute;
      top: 16px;
      left: 15px;
    }

    @media (max-width: $breakpoint-tablet) {
      margin: 25px 0;
    }
  }

  &__about-right-image {
    margin-top: 50px;
    flex: 1;
    background-image: url("../assets/images/pic1.jpg");
    background-size: cover;
    width: 80%;
    max-height: 275px;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 0;
      width: 95%;
      min-height: 200px;
    }
  }
}
