@import 'variables';

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__contact-info {
    display: flex;
    min-height: 475px;
    margin: 20px 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    @media(max-width: $breakpoint-desktop) {
      flex-direction: column;
    }
  }

  &__contact-team-photo {
    flex: 1 1 100%;
    background: url('../assets/images/contact-team.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $breakpoint-desktop) {
      min-height: 300px;
      background-position: 100% 0;
    }
  }

  &__contact-details {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 0 70px 120px;
    background-color: #212121;
    color: white;

    @media(max-width: $breakpoint-desktop) {
      padding: 20px 0 40px 70px;
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 20px 0 40px 30px;
    }
  }

  &__company-name {
    font-family: 'trenchthin', sans-serif;
    font-size: $font-3xl;
    margin: 20px 0;

    @media (max-width: $breakpoint-desktop) {
      font-size: $font-xxl;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: $font-l;
    }
  }

  &__company-address {
    font-size: $font-s;
    line-height: 1.15;
    margin: 10px 0;

    @media (max-width: $breakpoint-desktop) {
      font-size: $font-xs;
    }
  }

  &__company-emails {
    font-size: $font-s;
    margin: 10px 0;

    @media (max-width: $breakpoint-desktop) {
      font-size: $font-xs;
    }
  }

  &__company-emails-row {
    margin: 6px 0;
  }

  &__company-email {
    display: inline-block;
    width: 100px;
  }

  &__map {
    width: 100%;
    height: 500px;
    border-top: 1px solid lightgrey;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    @media (max-width: $breakpoint-desktop) {
      height: 350px;
    }

    @media (max-width: $breakpoint-tablet) {
      height: 250px;
    }
  }

  &__form {
    width: 70%;
    margin: 50px auto;
    max-width: 1200px;

    @media (max-width: $breakpoint-tablet) {
      margin: 20px auto;
    }
  }

  &__form-title {
    text-align: center;
    font-size: $font-l;
  }

  &__fields {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0 auto;

    @media (max-width: $breakpoint-large-desktop) {
      width: 85%;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__fields-row {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablet) {
      margin: 0 auto;
      flex-direction: column;
    }
  }

  &__input,
  &__textarea {
    padding: 15px 10px;
    transition: border 0.5s;
    color: #999;
    border: 1px solid #dcdcdc;
    width: 48%;

    &:focus,
    &:hover {
      color: #4a4a4a;
      border-color: black;
    }

    @media (max-width: $breakpoint-tablet) {
      margin: 10px auto;
      width: 100%;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 150px;

    @media (max-width: $breakpoint-tablet) {
      min-height: 110px;
    }
  }

  &__send-btn {
    margin-top: 20px;
    width: 100%;
    letter-spacing: 1.7px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    height: 60px;
    transition: background-color 0.5s, color 0.5s;
    align-self: flex-end;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}
