@import 'variables';

.footer {
  min-height: 300px;
  display: flex;
  color: white;
  background-color: black;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    font-family: 'trenchthin', sans-serif;
    font-size: 32px;
    font-weight: bold;
    user-select: none;
    cursor: default;
    margin: 30px 0;

    @media(max-width: $breakpoint-desktop) {
      text-align: center;
    }
  }

  &__site-info {
    display: flex;
    justify-content: space-between;

    @media(max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__github-icon {
    display: flex;
    align-items: center;
    margin: 10px 0 20px -5px;
    font-size: 20px;
  }

  &__source-code-info {
    padding-left: 7px;
  }

  &__address-line {
    display: block;
    margin: 7px 0;

    &:last-of-type {
      display: block;
      margin: 20px 0;
    }
  }

  &__created-by {
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $breakpoint-tablet) {
      order: 1;
      margin: 10px 0 20px;
    }
  }

  &__sm-section {
    display: flex;
    flex-direction: column;
  }

  &__sm-icons {
    display: flex;
    margin: 6px 0;
  }

  &__sm-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    font-size: 17px;
    margin: 0 0 0 10px;

    @media(max-width: $breakpoint-tablet) {
      margin: 0 10px 0 0;
    }

    &--facebook {
      background-color: #3b5998;
    }

    &--twitter {
      background-color: #55acee;
    }

    &--instagram {
      background-color: #e95950;
    }

    &--gplus {
      background-color: #dd4b39;
    }

    &--linkedin {
      background-color: #007bb5;
    }
  }

  &__copyright {
    margin-top: 5px;
    text-align: right;

    @media(max-width: $breakpoint-tablet) {
      text-align: left;
    }
  }

  &__copyright-entry {
    margin: 10px 0;
  }
}
