@import 'variables';

.main-section {
  background-image: url("../assets/images/main-section.jpg");
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title-block {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    background: rgba(0,0,0,0.5);

    @media (max-width: $breakpoint-desktop) {
      padding: 0 40px;
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 0 20px;
    }
  }

  &__title {
    font-size: $font-4xl;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.5px;

    @media (max-width: $breakpoint-desktop) {
      font-size: $font-xxl;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: $font-l;
    }
  }

  &__description {
    text-align: center;
    font-size: $font-l;
    margin-top: 30px;

    @media (max-width: $breakpoint-desktop) {
      font-size: $font-m;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: $font-s;
    }
  }
}
