@import 'variables';

@import 'basic';
@import 'navigation';
@import 'main-section';
@import 'about-us';
@import 'offer';
@import 'portfolio';
@import 'contact';
@import 'footer';

.container {
  max-width: $breakpoint-large-desktop;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  &__title-block {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: $font-xxl;
    margin-bottom: 20px;
  }

  &__description {
    width: 100%;
    max-width: 1200px;
    font-size: $font-s;
    margin: 20px auto;
    line-height: 1.5;
    letter-spacing: 1.1px;
    text-align: center;

    @media(max-width: $breakpoint-desktop) {
      width: 85%;
    }
  }

  &__divider {
    width: 300px;
    margin: 25px auto 0;
    border: 0;
    border-top: 2px solid #eee;
  }
}
