
@import 'navigation';

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'trenchthin';
    src: url('../fonts/trench100free-webfont.woff2') format('woff2'),
         url('../fonts/trench100free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &--shorter-width {
    width: 75%;
  }

  &--full-width {
    width: 100vw;
  }

  &--full-height {
    height: 100vh;
  }

  &__title-section {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__content-section {
    display: flex;
    flex: 1;
  }

  &__about-left-col {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #777;
      margin-top: 50px;
    }

    ul {
      list-style-type: none;

      li {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.2;
      }
    }
  }

  &__about-right-col {
    flex: 6;
    display: flex;
    flex-direction: column;

    div {
      flex: 1;
    }
  }

  &__about-right-description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-size: 24px;
    flex: 4;

    p {
      position: relative;
      padding: 20px 0 20px 45px;
      border-left: 7px solid #ccc;

      &:before {
        color: #ccc;
        content: open-quote;
        font-size: 75px;
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
  }

  &__about-right-image {
    flex: 6;
    background-image: url("../assets/pic1.jpg");
    background-size: cover;
    width: 80%;
    margin: 0 auto;
  }

  &__description {
    text-align: center;
    width: 80%;
    color: #777;
  }

  &__divider {
    width: 300px;
    margin: 25px auto 0;
    border: 0;
    border-top: 2px solid #eee;
  }

  &__footer {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
  }

}


.main-section {
  background-image: url("../assets/main-section.jpg");
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title-block {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    background: rgba(0,0,0,0.5);
  }

  &__title {
    width: 80%;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
  }

  &__description {
    font-size: 20px;
    margin-top: 30px;
  }
}
