@import 'basic';
@import 'navigation';
@import 'main-section';
@import 'about-us';
@import 'offer';
@import 'portfolio';
@import 'contact';
@import 'footer';

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &--shorter-width {
    width: 75%;
  }

  &--full-width {
    width: 100%;
  }

  &--full-height {
    min-height: 100vh;
  }

  &__title-block {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;
    width: 80%;
    color: #777;
    font-size: 20px;
  }

  &__content-section {
    display: flex;
    flex: 1;
  }

  &__divider {
    width: 300px;
    margin: 25px auto 0;
    border: 0;
    border-top: 2px solid #eee;
  }
}
