
$max-width: 1400px;

/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;

/* Font sizes */
$font-xs: 18px;
$font-s: 22px;
$font-m: 26px;
$font-l: 36px;
$font-xl: 42px;
$font-xxl: 54px;
$font-3xl: 62px;
$font-4xl: 78px;
